@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --medium-text-base-font-family: "DM Sans", Helvetica;
  --medium-text-base-font-size: 16px;
  --medium-text-base-font-style: normal;
  --medium-text-base-font-weight: 500;
  --medium-text-base-letter-spacing: 0px;
  --medium-text-base-line-height: 20px;
  --primitives-brand-black: rgba(0, 0, 0, 1);
  --primitives-brand-white: rgba(255, 255, 255, 1);
  --primitives-color-brand-blue: rgba(0, 68, 241, 1);
  --primitives-color-brand-white: rgba(255, 255, 255, 1);
  --primitives-gray-950: rgba(10, 10, 10, 1);
  --primitives-radius-lg: 24px;
  --primitives-spacing-24: 24px;
  --primitives-spacing-64: 64px;
  --tokens-components-buttons-primary: var(--primitives-color-brand-blue);
  --tokens-radius-radius-large: var(--primitives-radius-lg);
  --tokens-spacing-spacing-24: var(--primitives-spacing-24);
  --tokens-spacing-spacing-64: var(--primitives-spacing-64);
  --tokens-surface-primary: var(--primitives-brand-white);
  --tokens-text-headline: var(--primitives-gray-950);
  --tokens-text-text-invert: var(--primitives-color-brand-white);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-tokens-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-tokens-mode="light"] {
  --tokens-surface-primary: var(--primitives-brand-white);
  --tokens-text-headline: var(--primitives-gray-950);
}

[data-tokens-mode="dark"] {
  --tokens-surface-primary: var(--primitives-brand-black);
  --tokens-text-headline: var(--primitives-brand-white);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
